asgiref==3.8.1
async-timeout==4.0.3
certifi==2024.7.4
charset-normalizer==3.3.2
cloudant==2.15.0
CouchDB==1.2
Django==5.0.7
django-filter==1.0.1
django-redis==5.4.0
djangorestframework==3.5.3
elastic-transport==8.15.0
elasticsearch==8.15.0
Faker==26.2.0
ibm-cloud-sdk-core==3.20.3
ibmcloudant==0.9.1
idna==3.7
pyenv-win==3.1.1
PyJWT==2.9.0
python-dateutil==2.9.0.post0
redis==5.0.8
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
