<!DOCTYPE html>
{% include "navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Book Management</h1>
        <a href="/create-book/" class="btn btn-primary mb-3">Create Book</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.name }}</td>
                        <td>
                            <a href="/view-book/{{ book.id }}/" class="btn btn-warning btn-sm"> View</a>
                            <a href="/book/{{ book.id }}/edit/" class="btn btn-warning btn-sm">Edit</a>
                            <form action="/book/{{ book.id }}/delete/" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
