<!DOCTYPE html>
{% include "navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Author</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Create Author</h1>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="birth_date">Birth Date</label>
                <input type="date" class="form-control" id="birth_date" name="birth_date" required>
            </div>
            <div class="form-group">
                <label for="country_of_origin">Country</label>
                <input type="text" class="form-control" id="country_of_origin" name="country_of_origin" required>
            </div>
            <div class="form-group">
                <label for="description">Descriptiom</label>
                <input type="text" class="form-control" id="description" name="description" required>
            </div>
            <div class="form-group"> <!-- New field for image upload -->
                <label for="file_url">Author Image</label>
                <input type="file" class="form-control-file" id="file_url" name="file_url">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>
