<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
</head>
<body>
    <h1>Book Details</h1>
    <p><strong>Title:</strong> {{ book.name }}</p>
    <p><strong>Author:</strong> {{ author.name }}</p>
    <p><strong>Summary:</strong> {{ book.summary }}</p>
    <p><strong>Date of Publication:</strong> {{ book.date_of_publication }}</p>
    <p><strong>Sales:</strong> {{ book.number_of_sales}}</p>
    <a href="{% url 'book_management' %}">Back to Book Management</a>
</body>
</html>


